/**
 * @name Dark Neon Plus
 * @author xy0505
 * @version 2.1.3
 * @source https://github.com/zb0505/darkneon_theme_rewritten
 * @website https://github.com/zb0505/darkneon_theme_rewritten
 * @description A dark theme with bright neon-y colors and a background image. Should be used via templates to have it update automatically (this has the same colors as the Blue template)
 * @authorId 695564552246525962
 * @invite hGvApqaUxK
*/

/* @import url('https://zb0505.github.io/darkneon_theme_rewritten/DarkNeonPlus.theme.css'); */
/* ^ This is the main import ^   uncomment to enable auto update if you downloaded this file instead of a template */

/* @import url('https://b4t3s.github.io/DiscordDarkNeon/mainRewrite.css'); */
/* ^ This was the main import in the original theme ^   but it's all down there in a rewritten form */

/* @import url('https://zb0505.github.io/darkneon_theme_rewritten/MemberListCollapsePlus.theme.css');
/* This import adds the collapsible user-list. Uncomment it to activate that feature */

/* CUSTOMIZE COLORS IN HERE! */
:root {
	/* Experiment with colors here, this value isn't used anywhere */
	--color-exp: rgb(4, 217, 255);
	/* The main highlight color */
	--rgb-highlight: 4, 217, 255;
	/* The main background color */
	--rgb-background: 0, 0, 0;
	/* The main text color */
	--rgb-text: 197, 200, 198;
	/* The main "close this" or "deny" color */
	--rgb-close-button: 212, 18, 39;
	/* The color used in the "online" user status symbol */
	--rgb-online-color: 57, 255, 20;
	/* The color used in the "idle" user status symbol */
	--rgb-afk-color: 255, 255, 51;
	/* The color used in the "do not disturb" user status symbol */
	--rgb-dnd-color: 255, 0, 0;
	/* The color used in the "streaming X" user status symbol */
	--rgb-streaming-color: 188, 19, 254;

	/* How fast animations added by the theme happen. Default is 0.3 seconds */
	--transition-time: .3s;

	/* To add an image, copy your image URL in here */
	--background-image: url("https://wallpaperaccess.com/full/44211.jpg");
	/* Positions the background image */
	--background-position: center;
	/* Scales the background image */
	--background-size: cover;
	/* Blurs the image which helps with readability of text infront of it */
	--background-blur: 0px;
	/* Changes the background image brightness */
	--background-brightness: 20%;
}
/* END OF CUSTOMIZATION */



/*
=======================================================================
||   Main CSS file content (the commented import at the beginning)   ||
=======================================================================
*/
:root,
.theme-dark,
.theme-light {
	/* Base colors */
	--highlight: rgb(var(--rgb-highlight));
	--background: rgb(var(--rgb-background));
	--text: rgb(var(--rgb-text));
	--divider-color: var(--highlight);
	--close-button: rgb(var(--rgb-close-button));
	--online-color: rgb(var(--rgb-online-color));
	--afk-color: rgb(var(--rgb-afk-color));
	--dnd-color: rgb(var(--rgb-dnd-color));
	--streaming-color: rgb(var(--rgb-streaming-color));
	/* Scrollbar colors */
	--scrollbar-thin-thumb: var(--highlight);
	--scrollbar-auto-thumb: var(--highlight);
	--scrollbar-auto-scrollbar-color-thumb: var(--highlight);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-track: transparent;
	--scrollbar-auto-scrollbar-color-track: transparent;
	/* Overlay and menu colors */
	--deprecated-store-bg: var(--background-primary);
	--bg-overlay-chat: rgba(var(--rgb-background), 50%);
	--bg-overlay-1: transparent;
	--bg-overlay-2: transparent;
	--bg-overlay-3: transparent;
	/* Background colors */
	--background-primary: transparent;
	--background-mobile-primary: transparent;
	--background-secondary: var(--background);
	--background-mobile-secondary: var(--background);
	--background-secondary-alt: var(--background);
	--background-tertiary: rgba(var(--rgb-background), 40%);
	--background-accent: var(--background-message-automod-hover);
	--background-floating: rgba(var(--rgb-background), 80%);
	--background-nested-floating: transparent;
	/* Background modifiers */
	--background-modifier-accent: rgba(var(--rgb-highlight), 20%);
	--background-modifier-hover: rgba(var(--rgb-highlight), 10%);
	--background-modifier-active: rgba(var(--rgb-highlight), 30%);
	--background-modifier-selected: var(--rgb-highlight);
	/* Modal and card backgrounds */
	--modal-background: rgba(var(--rgb-background), 80%);
	--modal-footer-background: transparent;
	--activity-card-background: var(--background-floating);
	/* Header colors */
	--header-primary: var(--text);
	--header-secondary: var(--text);
	/* Chat colors */
	--chat-background: var(--background);
	--chat-border: var(--highlight);
	--chat-input-container-background: var(--background);
	--spoiler-hidden-background: var(--highlight);
	--spoiler-revealed-background: rgba(var(--rgb-highlight), 20%);
	--input-background: var(--background);
	--textbox-markdown-syntax: var(--highlight);
	--logo-primary: var(--highlight);
	--control-brand-foreground: var(--highlight);
	--control-brand-foreground-new: var(--highlight);
	/* Mention and message hover colors */
	--background-mentioned: rgba(var(--rgb-highlight), 30%);
	--background-mentioned-hover: rgba(var(--rgb-highlight), 20%);
	--background-message-hover: rgba(var(--rgb-highlight), 10%);
	--background-message-highlight: rgba(var(--rgb-highlight), 25%);
	--background-message-highlight-hover: rgba(var(--rgb-highlight), 40%);
	--background-message-automod: rgba(var(--rgb-highlight), 20%);
	--background-message-automod-hover: rgba(var(--rgb-highlight), 40%);
	--channeltextarea-background: var(--background);
	/* Link and text colors */
	--text-link: var(--highlight);
	--text-link-low-saturation: rgba(var(--rgb-highlight), 50%);
	--text-positive: var(--online-color);
	--text-warning: var(--afk-color);
	--text-danger: var(--dnd-color);
	--text-brand: var(--highlight);
	--text-normal: var(--text);
	--text-muted: var(--text);
	/* Red button regular styles */
	--button-danger-background-disabled: rgba(var(--rgb-close-button), 20%);
	--button-danger-background: rgba(var(--rgb-close-button), 20%);
	--button-danger-background-hover: rgba(var(--rgb-close-button), 70%);
	--button-danger-background-active: rgba(var(--rgb-close-button), 100%);
	/* Red outlined button styles */
	--button-outline-danger-border: rgba(var(--rgb-close-button), 50%);
	--button-outline-danger-background: rgba(var(--rgb-close-button), 50%);
	--button-outline-danger-background-hover: rgba(var(--rgb-close-button), 70%);
	--button-outline-danger-background-active: rgba(var(--rgb-close-button), 100%);
	/* Red outlined button text and border colors */
	--button-outline-danger-text: rgba(var(--rgb-close-button), 50%);
	--button-outline-danger-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-danger-text-active: rgba(var(--text-brand), 100%);
	--button-outline-danger-border-hover: rgba(var(--rgb-close-button), 70%);
	--button-outline-danger-border-active: rgba(var(--rgb-close-button), 100%);
	/* Green button regular styles */
	--button-positive-background-disabled: rgba(var(--rgb-online-color), 20%);
	--button-positive-background: rgba(var(--rgb-online-color), 20%);
	--button-positive-background-hover: rgba(var(--rgb-online-color), 70%);
	--button-positive-background-active: rgba(var(--rgb-online-color), 100%);
	/* Green outlined button styles */
	--button-outline-positive-border: rgba(var(--rgb-online-color), 50%);
	--button-outline-positive-background: rgba(var(--rgb-online-color), 50%);
	--button-outline-positive-background-hover: rgba(var(--rgb-online-color), 70%);
	--button-outline-positive-background-active: rgba(var(--rgb-online-color), 100%);
	/* Green outlined button text and border colors */
	--button-outline-positive-text: rgba(var(--rgb-online-color), 50%);
	--button-outline-positive-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-positive-text-active: rgba(var(--text-brand), 100%);
	--button-outline-positive-border-hover: rgba(var(--rgb-online-color), 70%);
	--button-outline-positive-border-active: rgba(var(--rgb-online-color), 100%);
	/* Default primary button regular styles */
	--button-primary-background-disabled: rgba(var(--rgb-highlight), 20%);
	--button-primary-background: rgba(var(--rgb-highlight), 20%);
	--button-primary-background-hover: rgba(var(--rgb-highlight), 70%);
	--button-primary-background-active: rgba(var(--rgb-highlight), 100%);
	/* Default primary outlined button styles */
	--button-outline-primary-border: rgba(var(--rgb-highlight), 50%);
	--button-outline-primary-background: rgba(var(--rgb-highlight), 50%);
	--button-outline-primary-background-hover: rgba(var(--rgb-highlight), 70%);
	--button-outline-primary-background-active: rgba(var(--rgb-highlight), 100%);
	/* Default primary outlined button text and border colors */
	--button-outline-primary-text: rgba(var(--rgb-highlight), 50%);
	--button-outline-primary-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-primary-text-active: rgba(var(--text-brand), 100%);
	--button-outline-primary-border-hover: rgba(var(--rgb-highlight), 70%);
	--button-outline-primary-border-active: rgba(var(--rgb-highlight), 100%);
	/* Default secondary button regular styles */
	--button-secondary-background-disabled: rgba(var(--rgb-highlight), 20%);
	--button-secondary-background: rgba(var(--rgb-highlight), 20%);
	--button-secondary-background-hover: rgba(var(--rgb-highlight), 70%);
	--button-secondary-background-active: rgba(var(--rgb-highlight), 100%);
	/* Default secondary outlined button styles */
	--button-outline-secondary-border: rgba(var(--rgb-highlight), 50%);
	--button-outline-secondary-background: rgba(var(--rgb-highlight), 50%);
	--button-outline-secondary-background-hover: rgba(var(--rgb-highlight), 70%);
	--button-outline-secondary-background-active: rgba(var(--rgb-highlight), 100%);
	/* Default secondary outlined button text and border colors */
	--button-outline-secondary-text: rgba(var(--rgb-highlight), 50%);
	--button-outline-secondary-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-secondary-text-active: rgba(var(--text-brand), 100%);
	--button-outline-secondary-border-hover: rgba(var(--rgb-highlight), 70%);
	--button-outline-secondary-border-active: rgba(var(--rgb-highlight), 100%);
	/* Blurple button regular styles */
	--button-brand-background-disabled: rgba(var(--rgb-highlight), 20%);
	--button-brand-background: rgba(var(--rgb-highlight), 20%);
	--button-brand-background-hover: rgba(var(--rgb-highlight), 70%);
	--button-brand-background-active: rgba(var(--rgb-highlight), 100%);
	/* Blurple outlined button styles */
	--button-outline-brand-border: rgba(var(--rgb-highlight), 50%);
	--button-outline-brand-background: rgba(var(--rgb-highlight), 50%);
	--button-outline-brand-background-hover: rgba(var(--rgb-highlight), 70%);
	--button-outline-brand-background-active: rgba(var(--rgb-highlight), 100%);
	/* Blurple outlined button text and border colors */
	--button-outline-brand-text: rgba(var(--rgb-highlight), 50%);
	--button-outline-brand-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-brand-text-active: rgba(var(--text-brand), 100%);
	--button-outline-brand-border-hover: rgba(var(--rgb-highlight), 70%);
	--button-outline-brand-border-active: rgba(var(--rgb-highlight), 100%);
	/* Search popout colors */
	--search-popout-option-user-nickname: var(--highlight);
	--search-popout-option-user-username: rgba(var(--rgb-highlight), 70%);
	--search-popout-option-filter-text: rgba(var(--rgb-highlight), 70%);
	--search-popout-date-picker-border: 1px solid var(--highlight);
	/* Interactive colors */
	--interactive-muted: rgba(var(--rgb-highlight), 20%);
	--interactive-normal: rgba(var(--rgb-highlight), 50%);
	--interactive-hover: rgba(var(--rgb-highlight), 100%);
	--interactive-active: var(--highlight);
	/* Status colors */
	--status-danger: var(--dnd-color);
	--status-warning: var(--afk-color);
	--status-positive: var(--online-color);
	/* Status button colors (eg. add friend button when that tab is not active) */
	--status-danger-background: var(--button-danger-background);
	--status-warning-background: rgba(var(--rgb-afk-color), 20%);
	--status-positive-background: var(--button-positive-background);
	/* Profile popout colors */
	--profile-body-background-color: transparent;
	--profile-gradient-primary-color: transparent;
	--profile-gradient-secondary-color: transparent;
	/* Brand color overwrites */
	--brand: var(--highlight);
	--brand-100: var(--highlight);
	--brand-130: var(--highlight);
	--brand-160: var(--highlight);
	--brand-200: var(--highlight);
	--brand-230: var(--highlight);
	--brand-260: var(--highlight);
	--brand-300: var(--highlight);
	--brand-330: var(--highlight);
	--brand-360: var(--highlight);
	--brand-400: var(--highlight);
	--brand-430: var(--highlight);
	--brand-460: var(--highlight);
	--brand-500: var(--highlight);
	--brand-530: var(--highlight);
	--brand-560: var(--highlight);
	--brand-600: var(--highlight);
	--brand-630: var(--highlight);
	--brand-660: var(--highlight);
	--brand-700: var(--highlight);
	--brand-730: var(--highlight);
	--brand-760: var(--highlight);
	--brand-800: var(--highlight);
	--brand-830: var(--highlight);
	--brand-860: var(--highlight);
	--brand-900: var(--highlight);
	--brand-930: var(--highlight);
	--brand-960: var(--highlight);
	/* Brand experiment overwrites */
	--brand-experiment: var(--highlight);
	--brand-experiment-100: var(--highlight);
	--brand-experiment-130: var(--highlight);
	--brand-experiment-160: var(--highlight);
	--brand-experiment-200: var(--highlight);
	--brand-experiment-230: var(--highlight);
	--brand-experiment-260: var(--highlight);
	--brand-experiment-300: var(--highlight);
	--brand-experiment-330: var(--highlight);
	--brand-experiment-360: var(--highlight);
	--brand-experiment-400: var(--highlight);
	--brand-experiment-430: var(--highlight);
	--brand-experiment-460: var(--highlight);
	--brand-experiment-500: var(--highlight);
	--brand-experiment-530: var(--highlight);
	--brand-experiment-560: var(--highlight);
	--brand-experiment-600: var(--highlight);
	--brand-experiment-630: var(--highlight);
	--brand-experiment-660: var(--highlight);
	--brand-experiment-700: var(--highlight);
	--brand-experiment-730: var(--highlight);
	--brand-experiment-760: var(--highlight);
	--brand-experiment-800: var(--highlight);
	--brand-experiment-830: var(--highlight);
	--brand-experiment-860: var(--highlight);
	--brand-experiment-900: var(--highlight);
	--brand-experiment-930: var(--highlight);
	--brand-experiment-960: var(--highlight);
	/* Brand experiment alpha version overwrites */
	--brand-experiment-05a: rgba(var(--rgb-highlight), 0.05);
	--brand-experiment-10a: rgba(var(--rgb-highlight), 0.1);
	--brand-experiment-15a: rgba(var(--rgb-highlight), 0.15);
	--brand-experiment-20a: rgba(var(--rgb-highlight), 0.2);
	--brand-experiment-25a: rgba(var(--rgb-highlight), 0.25);
	--brand-experiment-30a: rgba(var(--rgb-highlight), 0.3);
	--brand-experiment-35a: rgba(var(--rgb-highlight), 0.35);
	--brand-experiment-40a: rgba(var(--rgb-highlight), 0.4);
	--brand-experiment-45a: rgba(var(--rgb-highlight), 0.45);
	--brand-experiment-50a: rgba(var(--rgb-highlight), 0.5);
	--brand-experiment-55a: rgba(var(--rgb-highlight), 0.55);
	--brand-experiment-60a: rgba(var(--rgb-highlight), 0.6);
	--brand-experiment-65a: rgba(var(--rgb-highlight), 0.65);
	--brand-experiment-70a: rgba(var(--rgb-highlight), 0.7);
	--brand-experiment-75a: rgba(var(--rgb-highlight), 0.75);
	--brand-experiment-80a: rgba(var(--rgb-highlight), 0.8);
	--brand-experiment-85a: rgba(var(--rgb-highlight), 0.85);
	--brand-experiment-90a: rgba(var(--rgb-highlight), 0.9);
	--brand-experiment-95a: rgba(var(--rgb-highlight), 0.95);
	/* Other colors */
	--brand-500: var(--button-brand-background-hover); /* Icon color for partnered servers and color for checkboxes */
	--green-360: var(--button-positive-background-hover); /* Green verified icon for servers */
	--primary-630: var(--modal-background); /* Modal backgrounds */
}

/* ============ App base styles ============ */
/* Set background image */
body {
	background-color: var(--background);
	background-image: var(--background-image);
	background-position: var(--background-position);
	background-size: var(--background-size);
	backdrop-filter: blur(var(--background-blur)) brightness(var(--background-brightness))
}

/* Code block styles */
code {
	--background-tertiary: rgba(51, 51, 51, 0.4);
}

/* Disable outline which appears around server list when exiting DevTools */
* {
	outline: none;
}

/* Make most components transparent (unknown ones will be documented when found) */
.appMount__51fd7, /* Main container */
.app_a3002d, /* Below main container */
.app__160d8, /* Below previous */
.app__160d8, /* Below previous */
.bg__960e4, /* Below previous */
.guilds_c48ade, /* Guild sidebar */
.footer__214dc, /* Explore button under guilds in sidebar */
.scroller__99e7c, /* Unknown */
.sidebar_c48ade, /* Private/server channels container */
.container_c48ade, /* Unknown */
.shop__6db1d, /* New shop tab */
.panels_c48ade, /* Current user with mic/deafen controllers */
.container__133bf, /* Wrapper of right-side area (eg. friends and activities container) */
.nowPlayingColumn__133bf, /* Activities sidebar on friends tab */
.addFriendInputWrapper__72ba7, /* Add friend input */
.chat_f75fb0, /* Main chat wrapper */
.chatContent_f75fb0, /* Chat content */
.title_f75fb0, /* Chat title */
.container_fed6d3, /* GIF popout background*/
.header_fed6d3, /* GIF popout search background */
.searchBar__35e86, /* Search bar (above private chats) */
.members_c8ffbb, /* Server members sidebar */
.searchResultsWrap_a9e706, /* Server search sidebar */
.container_c8ffbb, /* Unknown */
.channelTextArea_f75fb0, /* Chat input wrapper */
.stackedBars__74017, /* Reply bar container */
.replyBar__841c8, /* Appears above input when you're replying */
.threadSuggestionBar__841c8, /* Unknown, it was next to .replyBar in Discord's CSS */
.stackedBars__74017, /* Wrapper of .replyBar */
.container__841c8, /* Unknown */
.privateChannels__35e86, /* Private channels container */
.scroller__7d20c, /* Unknown */
.standardSidebarView__23e6b, /* Unknown */
.sidebarRegionScroller__23e6b, /* Settings menu left sidebar */
.wrapper_b1e4f3, /* Slash command popout left side bot icon container */
.wrapper__4e6ce, /* Below previous */
.upload_aa605f, /* Uploaded file background */
.background__1fed1, /* Account settings profile preview */
.background__1fed1 *:not(.lookLink__201d5, .lookFilled__201d5),
.userProfileOuterUnthemed_c69a7b > div {
	background-color: rgba(0, 0, 0, 0) !important
}

/* People list, current user controls and profile outer layer */
.userProfileOuterThemed_c69a7b, /* Profile outer layer (for Nitro users) */
.peopleList__5ec2f, /* People list (friends tab) */
.panels_c48ade, /* Current user controls (with username) */
.lottieIcon__5eb9b :not(defs *)[fill][fill-opacity] { /* Current user controls (voice and settings buttons) */
	--header-primary: var(--text-normal);
	--header-secondary: var(--text-normal);
	--background-primary: var(--background-message-hover);
	--background-secondary: var(--background-mentioned);
	--background-secondary-alt: transparent;
	--channel-icon: rgb(from var(--highlight) r g b / 50%);
}

/* Checkbox styles (eg. in create group chat) */
.checkbox_f525d3 {
	--brand-500: var(--highlight);
}

/* Tooltip styles */
.tooltip__382e7 {
	--background-nested-floating: var(--modal-background);
}

/* Activities sidebar card backgrounds */
.nowPlayingColumn__133bf {
	--background-secondary: transparent;
	--primary-800: rgba(var(--rgb-background), 40%);
}
/* Chat and options buttons on friend list tab */
.actionButton_f8fa06 {
	--background-secondary: var(--background-tertiary);
}

/* Recent mentions, pinned messages and threads popout */
.recentMentionsPopout__95796, /* Recent mentions */
.messagesPopoutWrap__45690, /* Pinned messages */
.container_d9c882 { /* Threads popout */
	--background-secondary: var(--background-floating);
}
/* Main header area in recent mentions */
.header_ab6641 {
	--background-tertiary: transparent;
}
/* Messages scroller in recent mentions */
.messages__1ccd1 {
	background-color: transparent;
}

/* Search bar and add friend input styles */
.searchBox_d9c882, /* Threads popout */
.searchBar__35e86 .searchBarComponent__35e86, /* Above friends list */
.addFriendInputWrapper__72ba7 { /* Add friend input */
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.searchBox_d9c882:focus-within,
.searchBar__35e86 .searchBarComponent__35e86:focus-within,
.addFriendInputWrapper__72ba7:focus-within {
	border: 1px solid var(--highlight);
}

/* Guild list sidebar */
.guilds_c48ade {
	--background-primary: var(--background);
	--background-secondary: transparent;
	--header-primary: var(--highlight);
	--header-secondary: var(--highlight);
}

/* Expanded server folder background */
.expandedFolderBackground__48112 {
	background-color: #00000055;
}

/* Server folder background modifier on hover */
.folder__48112.hover__48112 {
	background-color: var(--background-mentioned);
}


/* User status changer popout and right-click menus */
.submenu_c1e9c4, .menu_c1e9c4:not(#account, #status) {
	border: 1px solid rgba(var(--rgb-highlight), 60%);
}
/* User switcher modal button bar */
.modal__56d1c .navRow__86e92 {
	background-color: transparent;
}
/* User switcher modal inputs */
.modal__56d1c .input__0f084 {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.modal__56d1c .input__0f084:focus-within {
	border: 1px solid var(--highlight);
}


/* Voice chat buttons */
.button_e131a9.buttonColor_e131a9,
.button_e131a9 .buttonColor_e131a9 {
	--background-primary: var(--background-message-hover);
	--background-secondary: var(--background-message-automod-hover);
}
/* Voice chat active buttons (green ones when streaming/playing) */
.button_e131a9.buttonColor_e131a9.buttonActive_e131a9,
.button_e131a9 .buttonColor_e131a9.buttonActive_e131a9 {
	background-color: rgba(var(--rgb-online-color), 50%);
}

/* Unread number badge and search result unread number badge */
.numberBadge__2b1f5, .wrapper_dc0b29 {
	background-color: rgba(var(--rgb-highlight), 70%) !important;
	color: var(--background)
}


/* ============ User profile popups ============ */
/* Profile popout container */
.root__24502 {
	background: transparent;
}
/* Outer layer */
.userProfileOuterUnthemed_c69a7b {
	--background-secondary-alt: var(--modal-background);
	border: 1px solid var(--highlight);
	background-color: transparent;
}
/* Outer layer of mini user popup (appears when clicking on a user's icon) */
.userProfileOuterUnthemed_c69a7b.biteSizeOuter_c69a7b {
	background-color: var(--modal-background);
}
/* Inner layer */
.userProfileInner_c69a7b {
	--profile-body-background-color: transparent;
}


/* ============ Availability markers ============ */
/* Generic styles for status icons in status selector */
.status_a423bd {
	--green-360: var(--online-color);
	--yellow-300: var(--afk-color);
	--red-400: var(--dnd-color);
}

/* Streaming marker */
.wrapper__44b0c rect[fill="#593695"],
.wrapper__44b0c rect[fill="#593695"],
.wrapper__44b0c rect[mask*=streaming] {
	fill: var(--streaming-color)
}

/* Online dot and online cellphone markers */
.wrapper__44b0c rect[fill="#43b581"], /* Online dot */
.wrapper__44b0c rect[fill="#23a55a"], /* Online cellphone */
.wrapper__44b0c rect[mask*=online] {
	fill: var(--online-color)
}
.status_a423bd[style^="background-color: rgb(35, 165, 90);"] {
	background-color: var(--online-color) !important;
}

/* Idle/AFK marker */
.wrapper__44b0c rect[fill="#f0b232"],
.wrapper__44b0c rect[fill="#f0b232"],
.wrapper__44b0c rect[mask*=idle] {
	fill: var(--afk-color)
}
.status_a423bd[style^="background-color: rgb(240, 178, 50);"] {
	background-color: var(--afk-color) !important;
}

/* Do not disturb marker */
.wrapper__44b0c rect[fill="#f23f43"],
.wrapper__44b0c rect[fill="#f23f43"],
.wrapper__44b0c rect[mask*=dnd] {
	fill: var(--dnd-color)
}
.status_a423bd[style^="background-color: rgb(242, 63, 67);"] {
	background-color: var(--dnd-color) !important;
}


/* ============ "Jump to" search bar and popout ============ */
/* Search bar styles (above private chats)*/
.searchBar__35e86 .searchBarComponent__35e86 {
	background-color: transparent;
	border: 1px solid rgba(var(--rgb-highlight), 10%);
}
/* Search popup selected result */
.result__71961[aria-selected=true] {
	background-color: var(--background-mentioned);
}
/* Search popup unread results */
.result__71961 {
	--header-primary: var(--highlight);
	--text-muted: var(--interactive-muted);
}
/* Search box */
.input_ac6cb0 {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.input_ac6cb0:focus-within {
	border: 1px solid var(--highlight);
}


/* ============ Server member list ============ */
/* Role/group header */
.membersGroup_c8ffbb {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--highlight);
}
/* Set max width for role/group name (does not work properly) */
/* .membersGroup_c8ffbb span {
	display: inline;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	inline-size: min-content;
	max-width: 8vw;
} */
/* Left-side line */
.membersGroup_c8ffbb::before {
	content: "";
	width: 100%;
	height: 2px;
	margin-right: 5px;
	display: inline-block;
	background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%)
}
/* Right-side line */
.membersGroup_c8ffbb::after {
	content: "";
	width: 100%;
	height: 2px;
	margin-left: 5px;
	display: inline-block;
	background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%)
}

/* Bot labels */
.botText__82f07,
.botTagVerified__82f07 path {
	color: var(--background);
	fill: var(--background);
}
/* Search input */
.searchBar__97492 {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.searchBar__97492:focus-within {
	border: 1px solid var(--highlight);
}

/* Sub-popouts (eg. roles for a member in a server) */
.container__3dde2 {
	background-color: var(--background-floating);
	border: 1px solid var(--highlight);
}
/* Search input in sub-popouts */
.container__3dde2 .container_a45028 {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.container__3dde2 .container_a45028:focus-within {
	border: 1px solid var(--highlight);
}
/* Private chat and guilds separator (left side) */
.guildSeparator__252b6 {
	background-color: var(--highlight);
	border-radius: 2px
}


/* ============ Server channel list ============ */
/* Category container */
.containerDefault__29444 {
	display: flex;
	align-items: center;
	justify-content: center;
	--channels-default: var(--highlight);
}
/* Set max width for category name */
.container_cc72c1 .overflow__82b15 {
	max-width: 10vw;
}
/* Left-side line */
.containerDefault__29444::before {
	content: "";
	width: 100%;
	height: 2px;
	margin-right: -11px;
	display: inline-block;
	background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%)
}
/* Right-side line */
.containerDefault__29444::after {
	content: "";
	width: 100%;
	height: 2px;
	margin-left: -3px;
	display: inline-block;
	background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%)
}
/* Hide arrows */
.containerDefault__29444 .icon__29444 {
	display: none;
}

/* Selected channel icon color */
.modeSelected__2ea32 {
	--channel-icon: var(--highlight);
}
/* Selected channel background */
.modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32:hover .link__2ea32 {
	background-color: var(--background-modifier-hover);
}

/* Stream preview on hover */
.streamPreview__6da2d {
	background-color: var(--modal-background);
}


/* ============ Chat components ============ */
/* Main chat area with sidebars */
.chat_f75fb0 {
	--bg-overlay-chat: transparent;
}
/* Set margin bottom for messages container to avoid it going into the input area */
.messagesWrapper__36d07 {
	margin-bottom: 0.6em;
}

/* "AKA" badge colors */
.akaBadge__488b1 {
	color: var(--text) !important;
}

/* Base element of chat text area */
.channelTextArea_f75fb0 {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.channelTextArea_f75fb0:focus-within {
	border: 1px solid var(--highlight);
}
/* Scrollable inner text area */
.scrollableContainer__74017 {
	background-color: transparent
}
/* Reply bar and thread suggestions */
.replyBar__841c8:hover, .threadSuggestionBar__841c8:hover {
	background-color: rgba(var(--rgb-highlight), 20%) !important
}
/* Uploaded file buttons */
.actionBar_aa605f .wrapper_f7ecac {
	border: 1px solid var(--highlight);
	background-color: var(--background-floating);
}

/* Username color in chats where name isn't colored */
.chatContent_f75fb0 .username_c19a55 {
	--header-primary: var(--highlight);
	--header-secondary: var(--highlight);
}
/* Reactions and reaction button */
.reaction__23977 {
	border: 1px solid #b2b2b22a;
	background-color: transparent;
}
.reactionBtn__23977 {
	background-color: transparent !important;
	border: 1px solid #b2b2b22a !important;
}
/* User's reactions */
.reaction__23977.reactionMe__23977 {
	background-color: transparent;
	color: var(--highlight);
}

/* Message hover effects */
.message__5126c {
	--bg-overlay-1: var(--background-message-hover);
	--bg-overlay-2: var(--background-message-hover);
	--bg-overlay-3: var(--background-message-hover);
}
/* Mentioned message marker color */
.mentioned__5126c::before {
	background-color: var(--highlight)
}
/* Message buttons container (appears upon hover) */
.buttonsInner__5126c {
	border: 1px solid var(--border-subtle);
	background-color: var(--background-tertiary);
}
/* More options popout submenu marker arrows */
.caret_c1e9c4 {
	--text-muted: var(--interactive-normal);
}

/* Chat date divider */
.divider__5126c {
	--divider-color: var(--highlight);
}
/* Date container */
.divider__5126c .content__908e2 {
	background-color: var(--background);
}
/* Unread divider */
.isUnread__908e2 {
	color: var(--highlight);
	background-color: var(--highlight);
	border: 1px solid var(--highlight);
	--divider-color: var(--highlight);
}
/* Unread date container */
.isUnread__908e2 .content__908e2 {
	color: var(--highlight);
	background-color: var(--background);
}
/* "New" label */
.unreadPill__908e2 {
	color: var(--background) !important;
	right: -1px;
}
/* "New" label left edge */
.unreadPillCapStroke__908e2 {
	color: var(--highlight);
	fill: var(--highlight)
}
/* Unread mentions bar (not tested) */
.bar__3b95d {
	background-color: var(--highlight);
	color: var(--background)
}

/* Emoji and GIF popout container */
.contentWrapper__08434 {
	--background-secondary: var(--background-floating);
}
/* Group titles */
.contentWrapper__08434 .wrapper__14245 {
	--background-secondary: var(--background-floating);
}
/* Decrease fade effect on favorite GIFs group preview */
.categoryFadeBlurple_d02962 {
	background-color: var(--brand-experiment-30a) !important;
}
.categoryFadeBlurple_d02962:hover {
	background-color: var(--brand-experiment-15a) !important;
}


/* ============ Settings screen ============ */
/* Filled button styles */
.lookFilled__201d5.colorBrand__201d5:hover {
	--brand-experiment-560: rgba(var(--rgb-highlight), 80%);
	--brand-560: rgba(var(--rgb-highlight), 80%);
}
.lookFilled__201d5.colorBrandInverted__201d5:hover {
	--brand-experiment-100: #ffffffce;
	--brand-100: #ffffffce;
}
/* Inverted button styles */
.lookInverted_a299dc.colorBrand__201d5 {
	--brand-experiment: hsl(var(--brand-500-hsl) / 1);
	--brand: hsl(var(--brand-500-hsl) / 1);
}
.lookInverted_a299dc.colorBrand__201d5:hover {
	--brand-experiment-100: #e1e1ec;
	--brand-100: #e1e1ec;
}

/* Select input styles */
.lookFilled__3f413.select__3f413 {
	--input-background: var(--background-tertiary);
}
/* Dropdown list styles */
.popout__3f413 {
	--background-secondary: var(--background-floating);
	--background-modifier-selected: var(--background-mentioned);
}

/* Sound selector input */
.soundButtonSettingContainer__84bad {
	--background-secondary: var(--background-tertiary);
}
/* Sound button styles in popup */
.soundButton__6d4ed {
	--background-secondary: transparent;
	--background-tertiary: var(--background-message-hover);
}

/* Input fields in settings */
.container_a45028, /* Apps search bar */
.container_fea832, /* Sound search bar */
.cardInput__8b579, /* Card input */
.input__0f084, .input__0f084:hover, /* Generic input */
.bd-search-wrapper { /* BD search bars */
	border: 1px solid rgba(var(--rgb-highlight), 20%);
	background-color: transparent;
}
.container_a45028:focus-within,
.container_fea832:focus-within,
.cardInput__8b579:focus-within,
.input__0f084:focus,
.bd-search-wrapper:focus-within {
	border: 1px solid var(--highlight);
}

/* Active switch toggles */
.container__87bf1.checked__87bf1, .bd-switch.bd-switch-checked .bd-switch-body {
	background-color: var(--highlight) !important;
	--switch-color: var(--highlight) !important;
}
/* Active swtich toggle ticks */
.container__87bf1.checked__87bf1 .slider__87bf1 svg > path {
	fill: var(--highlight);
}

/* Radio options (eg. language selection options) */
.itemFilled__001a7 {
	--background-secondary: var(--background-tertiary);
}
/* Selected radio option */
.itemFilled__001a7[aria-checked=true] {
	--background-modifier-selected: var(--background-mentioned);
}

/* Profile preview badge container */
.badgeList__1fed1 {
	background-color: transparent;
}

/* Gift Nitro background */
.giftNitro__58418 {
	background-color: var(--background-tertiary);
}
.textContainer_da4aee {
	background-image: none !important;
}

/* Settings cards */
.container__5dbf8, .container__8cc9a, .container__5b321, /* Family activity cards */
.linkingBannerParent_d9914b, .box_d9914b, /* User's family cards */
.connectContainer_c7f964, .connection_c7f964, /* Discord account connections */
.perkCard_b62c4e, .innerWrapperV1__70f7f, /* Nitro perks cards and buttons popup */
.recommendedServerCard__51537, .wrapper__37ae5, /* Server boost cards */
.faq__744ff { /* FAQ */
	background-color: rgba(var(--rgb-background), 40%);
	--background-secondary-alt: transparent;
	--background-tertiary: transparent;
}

/* Quest card */
.questsCard__72a00 {
	background-color: var(--background-tertiary);
	--background-secondary: transparent;
}

/* Payment history + code redemption notice and appearance preview */
.paymentPane__01014 * { --primary-630: transparent; }
.paymentPane__01014, .codeRedemptionRedirect_a706ba,
.preview__3e443 {
	--primary-630: var(--background-tertiary);
}

/* Active game display */
.activeGame_cc46f0 {
	--background-secondary: var(--background-tertiary);
}

/* BETA and NEW connection option marker */
.textBadge__2b1f5, .connectionMetadataUpsellTag_c7f964 {
	--brand-500: var(--highlight);
	--status-danger: var(--highlight);
	color: black;
}

/* Logout button */
.side_b3f026 .item_b3f026[tabindex='-1']:has(+ * + * + * .info__2debe) {
	color: var(--close-button);
	--background-modifier-hover: rgba(var(--rgb-close-button), 20%);
}

/* BetterDiscord addon cards */
.bd-addon-list .bd-addon-card {
	background: rgba(var(--rgb-background), 50%);
}
.bd-addon-list .bd-addon-card > * {
	background: transparent;
}

/* Left sidebar bottom */
.info__2debe:last-child::after {
	content: "Dark Neon by xy0505 (2.1.3)";
	font-size: 12px;
	line-height: 16px;
	color: var(--text);
	text-transform: none;
}