/**
 * @name Dark Neon Plus
 * @author xy0505
 * @version 2.3.0
 * @source https://github.com/zb0505/darkneon_theme_rewritten
 * @website https://github.com/zb0505/darkneon_theme_rewritten
 * @description A dark theme with bright neon-y colors and a background image. Should be used via templates to have it update automatically (this has the same colors as the Blue template)
 * @authorId 695564552246525962
 * @invite hGvApqaUxK
*/

/* @import url('https://zb0505.github.io/darkneon_theme_rewritten/DarkNeonPlus.theme.css'); */
/* ^ This is the main import ^   uncomment to enable auto update if you downloaded this file instead of a template */

/* @import url('https://b4t3s.github.io/DiscordDarkNeon/mainRewrite.css'); */
/* ^ This was the main import in the original theme ^   but it's all down there in a rewritten form */

/* @import url('https://zb0505.github.io/darkneon_theme_rewritten/MemberListCollapsePlus.theme.css');
/* This import adds the collapsible user-list. Uncomment it to activate that feature */

/* CUSTOMIZE COLORS IN HERE! */
:root {
	/* Experiment with colors here, this value isn't used anywhere */
	--color-exp: rgb(4, 217, 255);
	/* The main highlight color */
	--rgb-highlight: 4, 217, 255;
	/* The main background color */
	--rgb-background: 0, 0, 0;
	/* The main text color */
	--rgb-text: 197, 200, 198;
	/* The main "close this" or "deny" color */
	--rgb-close-button: 212, 18, 39;
	/* The color used in the "online" user status symbol */
	--rgb-online-color: 57, 255, 20;
	/* The color used in the "idle" user status symbol */
	--rgb-afk-color: 255, 255, 51;
	/* The color used in the "do not disturb" user status symbol */
	--rgb-dnd-color: 255, 0, 0;
	/* The color used in the "streaming X" user status symbol */
	--rgb-streaming-color: 188, 19, 254;

	/* How fast animations added by the theme happen. Default is 0.3 seconds */
	--transition-time: .3s;

	/* To add an image, copy your image URL in here */
	--background-image: url("https://wallpaperaccess.com/full/44211.jpg");
	/* Positions the background image */
	--background-position: center;
	/* Scales the background image */
	--background-size: cover;
	/* Blurs the image which helps with readability of text infront of it */
	--background-blur: 0px;
	/* Changes the background image brightness */
	--background-brightness: 20%;
}
/* END OF CUSTOMIZATION */



/*
=======================================================================
||   Main CSS file content (the commented import at the beginning)   ||
=======================================================================
*/
:root,
.theme-dark,
.theme-light,
.visual-refresh.theme-darker, .visual-refresh .theme-darker,
.visual-refresh.theme-midnight, .visual-refresh .theme-midnight {
	/* Base colors */
	--highlight: rgb(var(--rgb-highlight));
	--background: rgb(var(--rgb-background));
	--text: rgb(var(--rgb-text));
	--divider-color: var(--highlight);
	--close-button: rgb(var(--rgb-close-button));
	--online-color: rgb(var(--rgb-online-color));
	--afk-color: rgb(var(--rgb-afk-color));
	--dnd-color: rgb(var(--rgb-dnd-color));
	--streaming-color: rgb(var(--rgb-streaming-color));
	/* Scrollbar colors */
	--scrollbar-thin-thumb: var(--highlight);
	--scrollbar-auto-thumb: var(--highlight);
	--scrollbar-auto-scrollbar-color-thumb: var(--highlight);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-track: transparent;
	--scrollbar-auto-scrollbar-color-track: transparent;
	/* Overlay and menu colors */
	--deprecated-store-bg: var(--background-primary);
	--bg-overlay-chat: rgba(var(--rgb-background), 50%);
	--bg-overlay-1: transparent;
	--bg-overlay-2: transparent;
	--bg-overlay-3: transparent;
	--bg-brand: rgba(var(--rgb-highlight), 70%);
	--bg-mod-subtle: rgba(var(--rgb-highlight), 10%);
	--background-surface-high: var(--background-floating);
	--background-surface-higher: var(--background-floating);
	--background-surface-highest: var(--background-floating);
	--autocomplete-bg: var(--background-floating);
	--bg-overlay-selected: rgba(var(--rgb-highlight), 10%);
	/* Background colors */
	--background-primary: transparent;
	--background-mobile-primary: transparent;
	--background-secondary: var(--background);
	--background-mobile-secondary: var(--background);
	--background-secondary-alt: var(--interactive-background-hover);
	--background-tertiary: rgba(var(--rgb-background), 40%);
	--background-accent: var(--background-message-automod-hover);
	--background-floating: rgba(var(--rgb-background), 80%);
	--background-nested-floating: transparent;
	--background-brand: rgba(var(--rgb-highlight), 50%);
	--card-primary-bg: var(--background-floating);
	--user-profile-overlay-background: var(--background-tertiary);
	/* Background modifiers */
	--background-modifier-accent: rgba(var(--rgb-highlight), 20%);
	--background-modifier-hover: rgba(var(--rgb-highlight), 10%);
	--background-modifier-active: rgba(var(--rgb-highlight), 30%);
	--background-modifier-selected: var(--rgb-highlight);
	--background-mod-subtle: rgba(var(--rgb-highlight), 20%);
	--background-base-low: transparent;
	--background-base-lower: transparent;
	--background-base-lowest: transparent;
	--background-mod-normal: rgba(var(--rgb-highlight), 10%);
	--background-mod-strong: rgba(var(--rgb-highlight), 20%);
	/* Modal and card backgrounds */
	--modal-background: rgba(var(--rgb-background), 80%);
	--modal-footer-background: transparent;
	--activity-card-background: var(--background-floating);
	/* Header colors */
	--header-primary: var(--text);
	--header-secondary: var(--text);
	/* Chat colors */
	--chat-background: var(--background);
	--chat-border: var(--highlight);
	--chat-input-container-background: var(--background);
	--spoiler-hidden-background: var(--highlight);
	--spoiler-revealed-background: rgba(var(--rgb-highlight), 20%);
	--input-background: var(--background);
	--textbox-markdown-syntax: var(--highlight);
	--logo-primary: var(--highlight);
	--control-brand-foreground: var(--highlight);
	--control-brand-foreground-new: var(--highlight);
	--control-primary-background-default: rgba(var(--rgb-highlight), 60%);
	--control-primary-background-hover: rgba(var(--rgb-highlight), 80%);
	--control-primary-border-default: rgba(var(--rgb-highlight), 50%);
	--control-primary-border-hover: var(--highlight);
	--control-secondary-background-default: var(--message-reacted-background);
	--control-secondary-background-hover: var(--message-background-hover);
	--border-subtle: rgba(var(--rgb-highlight), 10%);
	--app-border-frame: rgba(var(--rgb-highlight), 10%);
	--border-faint: rgba(var(--rgb-highlight), 20%);
	/* Mention and message hover colors */
	--background-mentioned: rgba(var(--rgb-highlight), 30%);
	--background-mentioned-hover: rgba(var(--rgb-highlight), 20%);
	--background-message-hover: rgba(var(--rgb-highlight), 10%);
	--background-message-highlight: rgba(var(--rgb-highlight), 25%);
	--background-message-highlight-hover: rgba(var(--rgb-highlight), 40%);
	--background-message-automod: rgba(var(--rgb-highlight), 20%);
	--background-message-automod-hover: rgba(var(--rgb-highlight), 40%);
	--channeltextarea-background: var(--background);
	--mention-foreground: var(--highlight);
	--mention-background: rgba(var(--rgb-highlight), 20%);
	/* Link and text colors */
	--text-primary: var(--highlight);
	--text-strong: var(--highlight);
	--text-link: var(--highlight);
	--text-link-low-saturation: rgba(var(--rgb-highlight), 50%);
	--text-positive: var(--online-color);
	--text-warning: var(--afk-color);
	--text-danger: var(--dnd-color);
	--text-brand: var(--highlight);
	--text-normal: var(--text);
	--text-muted: var(--text);
	--text-default: var(--text);
	--text-feedback-positive: var(--online-color);
	/* Other colors */
	--icon-primary: var(--highlight); /* Active channel icon */
	--icon-strong: var(--highlight);
	--icon-secondary: rgba(var(--rgb-highlight), 80%); /* Top left icons (hover) */
	--icon-subtle: var(--icon-secondary);
	--icon-tertiary: rgba(var(--rgb-highlight), 50%); /* Top left icons */
	--icon-muted: var(--icon-tertiary);
	--channel-icon: rgba(var(--rgb-highlight), 50%); /* Basic channel icon */
	--channels-default: rgba(var(--rgb-highlight), 50%); /* Members' name */
	--checkbox-border-checked: var(--highlight);
	--checkbox-background-checked: rgba(var(--rgb-highlight), 75%);
	--message-reacted-text: var(--highlight);
	--message-reacted-background: rgba(var(--rgb-highlight), 10%);
	--message-background-hover: var(--interactive-background-hover);
	--message-highlight-background-default: var(--message-reacted-background);
	--message-mentioned-background-default: var(--message-reacted-background);
	--message-mentioned-background-hover: var(--message-background-hover);
	/* Input colors */
	--input-border-default: rgba(var(--rgb-highlight), 10%);
	--input-border-hover: rgba(var(--rgb-highlight), 75%);
	--input-border-active: var(--highlight);
	--checkbox-background-default: transparent;
	--checkbox-background-selected-default: rgba(var(--rgb-highlight), 80%);
	--checkbox-border-default: rgba(var(--rgb-highlight), 20%);
	/* Red button regular styles */
	--button-danger-background-disabled: rgba(var(--rgb-close-button), 20%);
	--button-danger-background: rgba(var(--rgb-close-button), 20%);
	--button-danger-background-hover: rgba(var(--rgb-close-button), 50%);
	--button-danger-background-active: rgba(var(--rgb-close-button), 100%);
	/* Red outlined button styles */
	--button-outline-danger-border: rgba(var(--rgb-close-button), 50%);
	--button-outline-danger-background: transparent;
	--button-outline-danger-background-hover: rgba(var(--rgb-close-button), 50%);
	--button-outline-danger-background-active: rgba(var(--rgb-close-button), 100%);
	/* Red outlined button text and border colors */
	--button-outline-danger-text: rgba(var(--rgb-close-button), 100%);
	--button-outline-danger-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-danger-text-active: rgba(var(--text-brand), 100%);
	--button-outline-danger-border-hover: rgba(var(--rgb-close-button), 70%);
	--button-outline-danger-border-active: rgba(var(--rgb-close-button), 100%);
	/* Green button regular styles */
	--button-positive-background-disabled: rgba(var(--rgb-online-color), 20%);
	--button-positive-background: rgba(var(--rgb-online-color), 20%);
	--button-positive-background-hover: rgba(var(--rgb-online-color), 50%);
	--button-positive-background-active: rgba(var(--rgb-online-color), 100%);
	/* Green outlined button styles */
	--button-outline-positive-border: rgba(var(--rgb-online-color), 50%);
	--button-outline-positive-background: transparent;
	--button-outline-positive-background-hover: rgba(var(--rgb-online-color), 50%);
	--button-outline-positive-background-active: rgba(var(--rgb-online-color), 100%);
	/* Green outlined button text and border colors */
	--button-outline-positive-text: rgba(var(--rgb-online-color), 100%);
	--button-outline-positive-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-positive-text-active: rgba(var(--text-brand), 100%);
	--button-outline-positive-border-hover: rgba(var(--rgb-online-color), 70%);
	--button-outline-positive-border-active: rgba(var(--rgb-online-color), 100%);
	/* Default primary button regular styles */
	--button-primary-background-disabled: rgba(var(--rgb-highlight), 20%);
	--button-primary-background: rgba(var(--rgb-highlight), 20%);
	--button-primary-background-hover: rgba(var(--rgb-highlight), 50%);
	--button-primary-background-active: rgba(var(--rgb-highlight), 100%);
	/* Default primary outlined button styles */
	--button-outline-primary-border: rgba(var(--rgb-highlight), 50%);
	--button-outline-primary-background: transparent;
	--button-outline-primary-background-hover: rgba(var(--rgb-highlight), 50%);
	--button-outline-primary-background-active: rgba(var(--rgb-highlight), 100%);
	/* Default primary outlined button text and border colors */
	--button-outline-primary-text: rgba(var(--rgb-highlight), 100%);
	--button-outline-primary-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-primary-text-active: rgba(var(--text-brand), 100%);
	--button-outline-primary-border-hover: rgba(var(--rgb-highlight), 70%);
	--button-outline-primary-border-active: rgba(var(--rgb-highlight), 100%);
	/* Default secondary button regular styles */
	--button-secondary-background-disabled: rgba(var(--rgb-highlight), 20%);
	--button-secondary-background: rgba(var(--rgb-highlight), 20%);
	--button-secondary-background-hover: rgba(var(--rgb-highlight), 50%);
	--button-secondary-background-active: rgba(var(--rgb-highlight), 100%);
	/* Default secondary outlined button styles */
	--button-outline-secondary-border: rgba(var(--rgb-highlight), 50%);
	--button-outline-secondary-background: transparent;
	--button-outline-secondary-background-hover: rgba(var(--rgb-highlight), 50%);
	--button-outline-secondary-background-active: rgba(var(--rgb-highlight), 100%);
	/* Default secondary outlined button text and border colors */
	--button-outline-secondary-text: rgba(var(--rgb-highlight), 100%);
	--button-outline-secondary-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-secondary-text-active: rgba(var(--text-brand), 100%);
	--button-outline-secondary-border-hover: rgba(var(--rgb-highlight), 70%);
	--button-outline-secondary-border-active: rgba(var(--rgb-highlight), 100%);
	/* Blurple button regular styles */
	--button-brand-background-disabled: rgba(var(--rgb-highlight), 20%);
	--button-brand-background: rgba(var(--rgb-highlight), 20%);
	--button-brand-background-hover: rgba(var(--rgb-highlight), 50%);
	--button-brand-background-active: rgba(var(--rgb-highlight), 100%);
	/* Blurple outlined button styles */
	--button-outline-brand-border: rgba(var(--rgb-highlight), 50%);
	--button-outline-brand-background: transparent;
	--button-outline-brand-background-hover: rgba(var(--rgb-highlight), 50%);
	--button-outline-brand-background-active: rgba(var(--rgb-highlight), 100%);
	/* Blurple outlined button text and border colors */
	--button-outline-brand-text: rgba(var(--rgb-highlight), 100%);
	--button-outline-brand-text-hover: rgba(var(--text-brand), 70%);
	--button-outline-brand-text-active: rgba(var(--text-brand), 100%);
	--button-outline-brand-border-hover: rgba(var(--rgb-highlight), 70%);
	--button-outline-brand-border-active: rgba(var(--rgb-highlight), 100%);
	/* Search popout colors */
	--search-popout-option-user-nickname: var(--highlight);
	--search-popout-option-user-username: rgba(var(--rgb-highlight), 70%);
	--search-popout-option-filter-text: rgba(var(--rgb-highlight), 70%);
	--search-popout-date-picker-border: 1px solid var(--highlight);
	/* Interactive colors */
	--interactive-muted: rgba(var(--rgb-highlight), 20%);
	--interactive-normal: rgba(var(--rgb-highlight), 50%);
	--interactive-hover: rgba(var(--rgb-highlight), 100%);
	--interactive-active: var(--highlight);
	--interactive-text-active: var(--highlight);
	--interactive-text-default: rgba(var(--rgb-highlight), 70%);
	--interactive-text-hover: var(--highlight);
	--interactive-background-selected: rgba(var(--rgb-highlight), 10%);
	--interactive-background-hover: rgba(var(--rgb-highlight), 20%);
	--interactive-icon-default: rgba(var(--rgb-highlight), 80%);
	--interactive-icon-active: var(--highlight);
	/* Status colors */
	--status-danger: var(--dnd-color);
	--status-warning: var(--afk-color);
	--status-positive: var(--online-color);
	/* Status button colors (eg. add friend button when that tab is not active) */
	--status-danger-background: var(--button-danger-background);
	--status-warning-background: rgba(var(--rgb-afk-color), 20%);
	--status-positive-background: var(--button-positive-background);
	/* Profile popout colors */
	--profile-body-background-color: transparent;
	--profile-gradient-primary-color: transparent;
	--profile-gradient-secondary-color: transparent;
	/* Brand color overwrites */
	--brand: var(--highlight);
	--brand-10a: var(--message-background-hover);
	--brand-100: var(--highlight);
	--brand-130: var(--highlight);
	--brand-160: var(--highlight);
	--brand-200: var(--highlight);
	--brand-230: var(--highlight);
	--brand-260: var(--highlight);
	--brand-300: var(--highlight);
	--brand-330: var(--highlight);
	--brand-360: var(--highlight);
	--brand-400: var(--highlight);
	--brand-430: var(--highlight);
	--brand-460: var(--highlight);
	--brand-500: var(--highlight);
	--brand-530: var(--highlight);
	--brand-560: var(--highlight);
	--brand-600: var(--highlight);
	--brand-630: var(--highlight);
	--brand-660: var(--highlight);
	--brand-700: var(--highlight);
	--brand-730: var(--highlight);
	--brand-760: var(--highlight);
	--brand-800: var(--highlight);
	--brand-830: var(--highlight);
	--brand-860: var(--highlight);
	--brand-900: var(--highlight);
	--brand-930: var(--highlight);
	--brand-960: var(--highlight);
	/* Brand experiment overwrites */
	--brand-experiment: var(--highlight);
	--brand-experiment-100: var(--highlight);
	--brand-experiment-130: var(--highlight);
	--brand-experiment-160: var(--highlight);
	--brand-experiment-200: var(--highlight);
	--brand-experiment-230: var(--highlight);
	--brand-experiment-260: var(--highlight);
	--brand-experiment-300: var(--highlight);
	--brand-experiment-330: var(--highlight);
	--brand-experiment-360: var(--highlight);
	--brand-experiment-400: var(--highlight);
	--brand-experiment-430: var(--highlight);
	--brand-experiment-460: var(--highlight);
	--brand-experiment-500: var(--highlight);
	--brand-experiment-530: var(--highlight);
	--brand-experiment-560: var(--highlight);
	--brand-experiment-600: var(--highlight);
	--brand-experiment-630: var(--highlight);
	--brand-experiment-660: var(--highlight);
	--brand-experiment-700: var(--highlight);
	--brand-experiment-730: var(--highlight);
	--brand-experiment-760: var(--highlight);
	--brand-experiment-800: var(--highlight);
	--brand-experiment-830: var(--highlight);
	--brand-experiment-860: var(--highlight);
	--brand-experiment-900: var(--highlight);
	--brand-experiment-930: var(--highlight);
	--brand-experiment-960: var(--highlight);
	/* Brand experiment alpha version overwrites */
	--brand-experiment-05a: rgba(var(--rgb-highlight), 0.05);
	--brand-experiment-10a: rgba(var(--rgb-highlight), 0.1);
	--brand-experiment-15a: rgba(var(--rgb-highlight), 0.15);
	--brand-experiment-20a: rgba(var(--rgb-highlight), 0.2);
	--brand-experiment-25a: rgba(var(--rgb-highlight), 0.25);
	--brand-experiment-30a: rgba(var(--rgb-highlight), 0.3);
	--brand-experiment-35a: rgba(var(--rgb-highlight), 0.35);
	--brand-experiment-40a: rgba(var(--rgb-highlight), 0.4);
	--brand-experiment-45a: rgba(var(--rgb-highlight), 0.45);
	--brand-experiment-50a: rgba(var(--rgb-highlight), 0.5);
	--brand-experiment-55a: rgba(var(--rgb-highlight), 0.55);
	--brand-experiment-60a: rgba(var(--rgb-highlight), 0.6);
	--brand-experiment-65a: rgba(var(--rgb-highlight), 0.65);
	--brand-experiment-70a: rgba(var(--rgb-highlight), 0.7);
	--brand-experiment-75a: rgba(var(--rgb-highlight), 0.75);
	--brand-experiment-80a: rgba(var(--rgb-highlight), 0.8);
	--brand-experiment-85a: rgba(var(--rgb-highlight), 0.85);
	--brand-experiment-90a: rgba(var(--rgb-highlight), 0.9);
	--brand-experiment-95a: rgba(var(--rgb-highlight), 0.95);
	/* Other colors */
	--brand-500: var(--button-brand-background-hover); /* Icon color for partnered servers and color for checkboxes */
	--green-360: rgba(from var(--online-color) r g b / 75%); /* Green verified icon for servers */
	--primary-630: var(--modal-background); /* Modal backgrounds */
	--opacity-blurple-16: rgba(var(--rgb-highlight), 20%); /* Add friend button when it's the selected tab */
}

/* ============ App base styles ============ */
/* Set background image */
body {
	background: var(--background) !important;
	background-color: var(--background) !important;
	background-image: var(--background-image) !important;
	background-position: var(--background-position) !important;
	background-size: var(--background-size) !important;
	backdrop-filter: blur(var(--background-blur)) brightness(var(--background-brightness));
}

/* Code block styles */
code {
	--background-tertiary: rgba(51, 51, 51, 0.4);
}

/* Disable outline which appears around server list when exiting DevTools */
* {
	outline: none;
}

/* Make most components transparent (unknown ones will be documented when found) */
._51fd70792ee2e563-appMount, /* Main container */
.a3002d7de5be5280-app, /* Below main container */
._160d8e55254637e5-app, /* Below previous */
._160d8e55254637e5-app, /* Below previous */
._960e4207cea8323e-bg, /* Below previous */
._5e434347c823b592-guilds, /* Guild sidebar */
.footer__214dc, /* Explore button under guilds in sidebar */
._99e7cad8d4c55236-scroller, /* Unknown */
._5e434347c823b592-sidebar, /* Private/server channels container */
._2637a2609f343032-container, /* Server channel container */
._6db1d32c47b6ad72-shop, /* New shop tab */
._5e434347c823b592-panels, /* Current user with mic/deafen controllers */
._5dec784a68542d60-panel, /* Current user activity */
.a55fdc2c56e0e44c-container, /* Streaming popup top part (would have a gradient background) */
._133bf5eea8e33a34-container, /* Wrapper of right-side area (eg. friends and activities container) */
._133bf5eea8e33a34-tabBody, /* Wrapper of right-side area (eg. friends and activities container) */
._133bf5eea8e33a34-nowPlayingColumn, /* Activities sidebar on friends tab */
.af3b89684c536957-popout, /* Activity card popouts */
._72ba79a5dfa2ce86-addFriendInputWrapper, /* Add friend input */
.f75fb00fb7356cbe-chat, /* Main chat wrapper */
.f75fb00fb7356cbe-chatContent, /* Chat content */
.f75fb00fb7356cbe-title, /* Chat title */
.fed6d32841cc2da2-container, /* GIF popout background*/
.fed6d32841cc2da2-header, /* GIF popout search background */
.e6b7699ce8339e1c-searchBar, /* Search bar (above private chats) */
.c8ffbb79449f399c-members, /* Server members sidebar */
.a9e7064fdee8e9b0-searchResultsWrap, /* Server search sidebar */
.c8ffbb79449f399c-container, /* Unknown */
.f75fb00fb7356cbe-channelTextArea, /* Chat input wrapper */
._740174f3d6a2c8fe-stackedBars, /* Reply bar container */
._841c8f861f7b2704-replyBar, /* Appears above input when you're replying */
._841c8f861f7b2704-threadSuggestionBar, /* Unknown, it was next to .replyBar in Discord's CSS */
._740174f3d6a2c8fe-stackedBars, /* Wrapper of .replyBar */
._841c8f861f7b2704-container, /* Unknown */
.e6b7699ce8339e1c-privateChannels, /* Private channels container */
._7d20cf18f8a2784c-scroller, /* Unknown */
._23e6b439306f125a-standardSidebarView, /* Unknown */
._23e6b439306f125a-sidebarRegionScroller, /* Settings menu left sidebar */
._23e6b439306f125a-contentRegionScroller, /* Settings menu right side */
.b1e4f3fb96801b99-wrapper, /* Slash command popout left side bot icon container */
._0d1eff984b8fd277-wrapper, /* Below previous */
.aa605f19898fe32e-upload, /* Uploaded file background */
._1fed1dd06c7aabf7-background, /* Account settings profile preview */
._1fed1dd06c7aabf7-background *:not(._201d5e8a3c09670a-lookLink, ._201d5e8a3c09670a-lookFilled),
.user-profile-modal-v2:not(.custom-theme-background) > div /* User profile inner layer */ {
	background: transparent !important;
	background-color: rgba(0, 0, 0, 0) !important
}

/* People list, current user controls and profile outer layer */
.user-profile-modal-v2.custom-theme-background, /* Profile outer layer (for Nitro users) */
._5ec2fb8b5de26b21-peopleList, /* People list (friends tab) */
._5e434347c823b592-panels, /* Current user controls (with username) */
._5eb9b3cc7c2b1ce8-lottieIcon :not(defs *)[fill][fill-opacity] { /* Current user controls (voice and settings buttons) */
	--header-primary: var(--text-normal);
	--header-secondary: var(--text-normal);
	--background-primary: var(--background-message-hover);
	--background-secondary: var(--background-mentioned);
	--background-secondary-alt: transparent;
	--channel-icon: rgb(from var(--highlight) r g b / 50%);
}

/* Checkbox styles (eg. in create group chat) */
.checkbox_f525d3 {
	--brand-500: var(--highlight);
}

/* Tooltip styles */
.c36707910f687430-tooltip {
	--background-nested-floating: var(--modal-background);
}

/* Activities sidebar card backgrounds */
._133bf5eea8e33a34-nowPlayingColumn {
	--background-secondary: transparent;
	--primary-800: rgba(var(--rgb-background), 40%);
}
/* Chat and options buttons on friend list tab */
.f8fa068db52f043f-actionButton {
	--background-secondary: var(--background-tertiary);
}

/* Popout menus and backdrop */
.c1e9c47c23f12ca3-menu:not(#account, #status) {
	--header-primary: var(--interactive-normal);
}
.c1e9c47c23f12ca3-menu:not(#account, #status) .c1e9c47c23f12ca3-focused {
	--header-primary: var(--highlight);
}
._783321f3468cf9e8-backdrop {
	background-color: var(--background-floating) !important;
}

/* Soundboard popout */
._09f65b4b8a3f8d26-picker {
	--background-base-low: var(--background-floating);
	border: 1px solid var(--border-subtle);
	padding: 5px;
}

/* Recent mentions, pinned messages and threads popout */
._957962c2bd49881b-recentMentionsPopout, /* Recent mentions */
.e8b59c4b335dd2fc-messagesPopoutWrap, /* Pinned messages */
.d9c8822889d1d4a1-container { /* Threads popout */
	--background-secondary: var(--background-floating);
}
/* Main header area in recent mentions */
.ab66419eae73260f-header {
	--background-tertiary: transparent;
}
/* Messages scroller in recent mentions */
._1ccd1ba5cb2270c2-messages {
	background-color: transparent;
}

/* Search bar and add friend input styles */
.searchBox_d9c882, /* Threads popout */
.e6b7699ce8339e1c-searchBar .searchBarComponent__35e86, /* Above friends list */
._72ba79a5dfa2ce86-addFriendInputWrapper { /* Add friend input */
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.searchBox_d9c882:focus-within,
.e6b7699ce8339e1c-searchBar .searchBarComponent__35e86:focus-within,
._72ba79a5dfa2ce86-addFriendInputWrapper:focus-within {
	border: 1px solid var(--highlight);
}
/* Remove the inner input border for add friend input */
._72ba79a5dfa2ce86-addFriendInputWrapper ._72ba79a5dfa2ce86-input {
	border: none !important;
}

/* Guild list sidebar + notification/selection indicator */
._5e434347c823b592-guilds, ._581051df43c5ebb6-item {
	--background-primary: var(--background);
	--background-secondary: transparent;
	--header-primary: var(--highlight);
	--header-secondary: var(--highlight);
}

/* Expanded server folder background */
._48112cbe77dc5022-folderGroupBackground, .visual-refresh ._48112cbe77dc5022-folderGroupBackground {
	background-color: rgba(from var(--background) r g b / 80%);
}

/* Server folder background modifier on hover */
.b18fe29d6fe8dd82-hiddenVisually.hover__48112, .visual-refresh .b18fe29d6fe8dd82-hiddenVisually.hover__48112 {
	background-color: var(--background-mentioned);
}


/* User status changer popout and right-click menus */
.subc1e9c47c23f12ca3-menu, .c1e9c47c23f12ca3-menu:not(#account, #status) {
	border: 1px solid rgba(var(--rgb-highlight), 60%);
}
/* User switcher modal button bar */
.modal__56d1c .navRow__86e92 {
	background-color: transparent;
}
/* User switcher modal inputs */
.modal__56d1c ._0ed4fc708cdbac0d-input {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.modal__56d1c ._0ed4fc708cdbac0d-input:focus-within {
	border: 1px solid var(--highlight);
}

/* Game card popout */
._8e830531d896108a-gameProfileModal {
	border: 1px solid rgba(var(--rgb-highlight), 50%);
}


/* Voice chat buttons */
.e131a99484292a19-button.e131a99484292a19-buttonColor,
.e131a99484292a19-button .e131a99484292a19-buttonColor {
	--background-primary: var(--background-message-hover);
	--background-secondary: var(--background-message-automod-hover);
}
/* Voice chat active buttons (green ones when streaming/playing) */
.e131a99484292a19-button.e131a99484292a19-buttonColor.e131a99484292a19-buttonActive,
.e131a99484292a19-button .e131a99484292a19-buttonColor.e131a99484292a19-buttonActive {
	background-color: rgba(var(--rgb-online-color), 50%);
}

/* Unread number badge and search result unread number badge */
._2b1f52e43a8f1c02-numberBadge, .wrapper_dc0b29 {
	background-color: rgba(var(--rgb-highlight), 70%) !important;
	color: var(--background)
}

/* Do not color friends tab names, usernames and activity title */
._0a06ed6ea040aa1b-username, ._5345c24c6249bc5b-defaultColor, ._63ed30c16c7151f2-userTag {
	--text-strong: var(--text);
}


/* ============ User profile popups ============ */
/* Profile popout container */
._24502a4069848acb-root {
	background: transparent;
}
/* Outer layer */
.user-profile-modal-v2:not(.custom-theme-background) {
	--background-secondary-alt: var(--modal-background);
	border: 1px solid rgba(var(--rgb-highlight), 60%);
	background-color: var(--modal-background);
}
/* Outer layer of mini user popup (appears when clicking on a user's icon) */
.user-profile-popout:not(.custom-theme-background) {
	border: 1px solid rgba(var(--rgb-highlight), 60%);
	background-color: var(--modal-background);
}
/* Inner layer */
.user-profile-modal-v2 > div {
	--profile-body-background-color: transparent;
	--background-surface-high: transparent;
}
/* Activity cards on user profile */
.user-profile-modal-v2 ._39ec2e3dfb4fd2f2-card {
	border: 1px solid rgba(var(--rgb-highlight), 50%);
}
/* Do not color description or any headers in current user popout */
.user-profile-popout ._5be3ef42f92174b2-body {
	--text-strong: var(--text);
}


/* ============ Availability markers ============ */
/* Generic styles for status icons in status selector */
.a423bdd721ddcc83-status {
	--green-360: var(--online-color);
	--yellow-300: var(--afk-color);
	--red-400: var(--dnd-color);
}

/* Streaming marker */
._44b0c28be7879b7b-wrapper rect[fill="#593695"],
._44b0c28be7879b7b-wrapper rect[fill="#593695"],
._44b0c28be7879b7b-wrapper rect[mask*=streaming] {
	fill: var(--streaming-color);
}

/* Online dot and online cellphone markers */
._44b0c28be7879b7b-wrapper rect[fill="#43a25a"], /* Online dot color */
._44b0c28be7879b7b-wrapper rect[fill="#23a55a"], /* Online cellphone */
._44b0c28be7879b7b-wrapper rect[mask*=online] {
	fill: var(--online-color);
}
.a423bdd721ddcc83-status[style^="background-color: rgb(67, 162, 90);"] {
	background-color: var(--online-color) !important;
}
/* Online typing indicator (for some reason the .status class is missing in group chats) */
div[style*="background-color: rgb(67, 162, 90)"] {
	background-color: var(--online-color) !important;
}

/* Idle/AFK marker */
._44b0c28be7879b7b-wrapper rect[fill="#ca9654"], /* AFK color */
._44b0c28be7879b7b-wrapper rect[mask*=idle] {
	fill: var(--afk-color);
}
.a423bdd721ddcc83-status[style^="background-color: rgb(202, 150, 84);"] {
	background-color: var(--afk-color) !important;
}
/* Idle/AFK typing indicator (for some reason the .status class is missing in group chats) */
div[style*="background-color: rgb(202, 150, 84)"] {
	background-color: var(--afk-color) !important;
}

/* Do not disturb marker */
._44b0c28be7879b7b-wrapper rect[fill="#d83a42"], /* DND color */
._44b0c28be7879b7b-wrapper rect[mask*=dnd] {
	fill: var(--dnd-color);
}
.a423bdd721ddcc83-status[style^="background-color: rgb(216, 58, 66);"] {
	background-color: var(--dnd-color) !important;
}
/* DND typing indicator (for some reason the .status class is missing in group chats) */
div[style*="background-color: rgb(216, 58, 66)"] {
	background-color: var(--dnd-color) !important;
}

/* Now playing icon */
.c9d15c8a962de3c8-icon path[fill="#43a25a"] {
	fill: var(--online-color);
}


/* ============ "Jump to" search bar and popout ============ */
/* Search bar styles (above private chats)*/
.e6b7699ce8339e1c-searchBar .searchBarComponent__35e86 {
	background-color: transparent;
	border: 1px solid rgba(var(--rgb-highlight), 10%);
}
/* Search popup selected result */
._71961da99d37ac57-result[aria-selected=true] {
	background-color: var(--background-mentioned);
}
/* Search popup unread results */
._71961da99d37ac57-result {
	--header-primary: var(--highlight);
	--text-muted: var(--interactive-muted);
}
/* Search box */
.ac6cb02cd15b4b3b-input {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.ac6cb02cd15b4b3b-input:focus-within {
	border: 1px solid var(--highlight);
}


/* ============ Server member list ============ */
/* Role/group header */
.c8ffbb79449f399c-membersGroup {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--highlight);
}
/* Set max width for role/group name (does not work properly) */
/* .c8ffbb79449f399c-membersGroup span {
	display: inline;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	inline-size: min-content;
	max-width: 8vw;
} */
/* Left-side line */
.c8ffbb79449f399c-membersGroup::before {
	content: "";
	width: 100%;
	height: 2px;
	margin-right: 5px;
	display: inline-block;
	background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%)
}
/* Right-side line */
.c8ffbb79449f399c-membersGroup::after {
	content: "";
	width: 100%;
	height: 2px;
	margin-left: 5px;
	display: inline-block;
	background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%)
}

/* Bot labels */
._82f0793afa59e5dc-botText,
._82f0793afa59e5dc-botTagVerified path {
	color: var(--background);
	fill: var(--background);
}
/* Search input */
._974928fe84ca9647-searchBar {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
._974928fe84ca9647-searchBar:focus-within {
	border: 1px solid var(--highlight);
}

/* Sub-popouts (eg. roles for a member in a server) */
._3dde27fb71170aa9-container {
	background-color: var(--background-floating);
	border: 1px solid var(--highlight);
}
/* Search input in sub-popouts */
._3dde27fb71170aa9-container .container_a45028 {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
._3dde27fb71170aa9-container .container_a45028:focus-within {
	border: 1px solid var(--highlight);
}
/* Private chat and guilds separator (left side) */
._252b6afd49fda06f-guildSeparator {
	background-color: var(--highlight);
	border-radius: 2px
}


/* ============ Server channel list and DM list ============ */
/* Guild name header */
.f37cb1984c371ee5-header {
	--header-primary: var(--highlight);
}

/* Guild and DM menu pills */
._1f388bcaa446c0c8-pill, .e5445cbd3ad226f2-pill {
	--text-strong: var(--highlight);
}

/* Not sure what these are, couldn't find them in the current Discord app */
._972a0d22c8afa7f0-interactive:active, ._972a0d22c8afa7f0-interactiveSelected {
	color: var(--text-link);
}

/* Set margin bottom for the DM list container */
._99e7cad8d4c55236-scroller {
	margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--space-xs));
}

/* Category container */
._29444ba32c7fbeab-containerDefault {
	display: flex;
	align-items: center;
	justify-content: center;
	--channels-default: var(--highlight);
}
/* Set max width for category name */
.container_cc72c1 .b0dfc2ed9c57037d-overflow {
	max-width: 10vw;
}
/* Left-side line */
._29444ba32c7fbeab-containerDefault::before {
	content: "";
	width: 100%;
	height: 2px;
	margin-right: -11px;
	display: inline-block;
	background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%)
}
/* Right-side line */
._29444ba32c7fbeab-containerDefault::after {
	content: "";
	width: 100%;
	height: 2px;
	margin-left: -3px;
	display: inline-block;
	background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%)
}
/* Hide arrows */
._29444ba32c7fbeab-containerDefault ._29444ba32c7fbeab-icon {
	display: none;
}

/* Selected channel icon color */
._2ea32c412048f708-modeSelected {
	--channel-icon: var(--highlight);
}
/* Selected channel background */
._2ea32c412048f708-modeSelected ._2ea32c412048f708-link, ._2ea32c412048f708-modeSelected:hover ._2ea32c412048f708-link {
	background-color: var(--background-modifier-hover);
}

/* Stream preview on hover */
._6da2d8abf659f945-streamPreview {
	background-color: var(--modal-background);
}


/* ============ Chat components ============ */
/* Main chat area with sidebars */
.f75fb00fb7356cbe-chat {
	--bg-overlay-chat: transparent;
}
/* Set margin bottom for messages container to avoid it going into the input area */
._36d072eab2b2e737-messagesWrapper {
	margin-bottom: 0.6em;
}

/* "AKA" badge colors */
._488b1a4248d1b790-akaBadge {
	color: var(--text) !important;
}

/* Message extra options menu emoji buttons */
.f563df886a7377be-button {
	--background-mod-subtle: transparent;
}

/* Base element of chat text area */
.f75fb00fb7356cbe-channelTextArea {
	border: 1px solid rgba(var(--rgb-highlight), 20%);
}
.f75fb00fb7356cbe-channelTextArea:focus-within {
	border: 1px solid var(--highlight);
}
/* Scrollable inner text area */
._740174f3d6a2c8fe-scrollableContainer {
	background-color: transparent
}
/* Reply bar and thread suggestions */
._841c8f861f7b2704-replyBar:hover, ._841c8f861f7b2704-threadSuggestionBar:hover {
	background-color: rgba(var(--rgb-highlight), 20%) !important
}
/* Uploaded file buttons */
.aa605f19898fe32e-actionBar .f7ecaca5c80dbf3a-wrapper {
	border: 1px solid var(--highlight);
	background-color: var(--background-floating);
}

/* Username color in chats where name isn't colored */
.f75fb00fb7356cbe-chatContent .c19a557985eb7793-username {
	--header-primary: var(--highlight);
	--header-secondary: var(--highlight);
	--text-strong: var(--highlight);
}
/* Reactions and reaction button */
._23977d5b7cef7361-reaction {
	border: 1px solid #b2b2b22a;
	background-color: transparent;
}
._23977d5b7cef7361-reactionBtn {
	background-color: transparent !important;
	border: 1px solid #b2b2b22a !important;
}
/* User's reactions */
._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe, .visual-refresh ._23977d5b7cef7361-reaction._23977d5b7cef7361-reactionMe {
	background-color: transparent;
	color: var(--highlight);
	border-color: var(--highlight);
}

/* Message hover effects */
._5126c0cd07f243a0-message {
	--bg-overlay-1: var(--background-message-hover);
	--bg-overlay-2: var(--background-message-hover);
	--bg-overlay-3: var(--background-message-hover);
}
/* Mentioned message marker color */
._5126c0cd07f243a0-mentioned::before {
	background-color: var(--highlight)
}
/* Message buttons container (appears upon hover) */
._5126c0cd07f243a0-buttonsInner {
	border: 1px solid var(--border-subtle);
	background-color: var(--background-tertiary);
}
/* More options popout submenu marker arrows */
.c1e9c47c23f12ca3-caret {
	--text-muted: var(--interactive-normal);
}

/* Chat date divider */
._5126c0cd07f243a0-divider {
	--divider-color: var(--highlight);
}
/* Date container */
._5126c0cd07f243a0-divider ._908e20001ad67812-content {
	background-color: var(--background);
}
/* Unread divider */
._908e20001ad67812-isUnread {
	color: var(--highlight);
	background-color: var(--highlight);
	border: 1px solid var(--highlight);
	--divider-color: var(--highlight);
}
/* Unread date container */
._908e20001ad67812-isUnread ._908e20001ad67812-content {
	color: var(--highlight);
	background-color: var(--background);
}
/* "New" label */
._908e20001ad67812-unreadPill {
	color: var(--background) !important;
	right: -1px;
}
/* "New" label left edge */
._908e20001ad67812-unreadPillCapStroke {
	color: var(--highlight);
	fill: var(--highlight)
}
/* Unread mentions bar (not tested) */
._3b95d7d910416e54-bar {
	background-color: var(--highlight);
	color: var(--background)
}

/* Emoji and GIF popout container */
._084343c4f11eaaab-contentWrapper {
	--background-secondary: var(--background-floating);
}
/* Group titles */
._084343c4f11eaaab-contentWrapper ._14245bb948377a25-wrapper {
	--background-secondary: var(--background-floating);
}
/* Decrease fade effect on favorite GIFs group preview */
.d02962a38047ac3c-categoryFadeBlurple {
	background-color: var(--brand-experiment-30a) !important;
}
.d02962a38047ac3c-categoryFadeBlurple:hover {
	background-color: var(--brand-experiment-15a) !important;
}

/* Search result cards */
._02a39cb2980ceaaf-searchResult:hover {
	background-color: var(--background-mentioned-hover);
}


/* ============ Settings screen ============ */
/* New settings popup thing */
[data-mana-component="layer-modal"] {
	background-color: var(--modal-background);
}
/* Do not color server names in "share activity" settings */
._6de8b403fe86ae15-myServersContainer {
	--text-strong: var(--text);
}

/* Filled button styles */
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrand:hover {
	--brand-experiment-560: rgba(var(--rgb-highlight), 80%);
	--brand-560: rgba(var(--rgb-highlight), 80%);
}
._201d5e8a3c09670a-lookFilled._201d5e8a3c09670a-colorBrandInverted:hover {
	--brand-experiment-100: #ffffffce;
	--brand-100: #ffffffce;
}
/* Inverted button styles */
.lookInverted_a299dc._201d5e8a3c09670a-colorBrand {
	--brand-experiment: hsl(var(--brand-500-hsl) / 1);
	--brand: hsl(var(--brand-500-hsl) / 1);
}
.lookInverted_a299dc._201d5e8a3c09670a-colorBrand:hover {
	--brand-experiment-100: #e1e1ec;
	--brand-100: #e1e1ec;
}

/* Select input styles */
.lookFilled__3f413.a16aea1526925c2c-select {
	--input-background: var(--background-tertiary);
}
/* Dropdown list styles */
.a16aea1526925c2c-popout {
	--background-secondary: var(--background-floating);
	--background-modifier-selected: var(--background-mentioned);
}

/* Sound selector input */
._84bad078060c37c1-soundButtonSettingContainer {
	--background-secondary: var(--background-tertiary);
}
/* Sound button styles in popup */
._9be63f0b86033228-soundButton {
	--background-secondary: transparent;
	--background-tertiary: var(--background-message-hover);
}

/* Input fields in settings */
.container_a45028, /* Apps search bar */
.container_fea832, /* Sound search bar */
._8b579725ff08eeaa-cardInput, /* Card input */
._0ed4fc708cdbac0d-input, ._0ed4fc708cdbac0d-input:hover, /* Generic input */
.bd-search-wrapper { /* BD search bars */
	border: 1px solid rgba(var(--rgb-highlight), 20%);
	background-color: transparent;
}
.container_a45028:focus-within,
.container_fea832:focus-within,
._8b579725ff08eeaa-cardInput:focus-within,
._0ed4fc708cdbac0d-input:focus,
.bd-search-wrapper:focus-within {
	border: 1px solid var(--highlight);
}

/* Active switch toggles */
._3f21e80f8677ec40-container._3f21e80f8677ec40-checked, .bd-switch.bd-switch-checked .bd-switch-body {
	background-color: var(--highlight) !important;
	--switch-color: var(--highlight) !important;
}
/* Active swtich toggle ticks */
._3f21e80f8677ec40-container._3f21e80f8677ec40-checked ._3f21e80f8677ec40-slider svg > path {
	fill: var(--highlight);
}

/* Radio options (eg. language selection options) */
._88a69141dd70013a-itemFilled {
	--background-secondary: var(--background-tertiary);
}
/* Selected radio option */
._88a69141dd70013a-itemFilled[aria-checked=true] {
	--background-modifier-selected: var(--background-mentioned);
}

/* Profile preview badge container */
._1fed1dd06c7aabf7-badgeList {
	background-color: transparent;
}

/* Gift Nitro background */
.giftNitro__58418 {
	background-color: var(--background-tertiary);
}
.da4aee5b24d1a407-textContainer {
	background-image: none !important;
}

/* Settings cards */
._5dbf818b58a61b59-container, ._8cc9a9c411c88ba2-container, ._5b32177e89c63961-container, /* Family activity cards */
.d9914bd9cd9c033f-linkingBannerParent, .d9914bd9cd9c033f-box, /* User's family cards */
.connectContainer_c7f964, .c7f964e7e0fc8b47-connection, /* Discord account connections */
.b62c4e4ee0e62730-perkCard, ._70f7f6541f6f031e-innerWrapper, /* Nitro perks cards and buttons popup */
._5153730f0c7cf20d-recommendedServerCard, ._37ae554d51e1c7d1-wrapper, /* Server boost cards */
._744fffb886c6f25b-faq { /* FAQ */
	background-color: rgba(var(--rgb-background), 40%);
	--background-secondary-alt: transparent;
	--background-tertiary: transparent;
}

/* Quest card */
._12e165c2871a3e75-questsCard {
	background-color: var(--background-tertiary);
	--background-secondary: transparent;
}

/* Payment history + code redemption notice and appearance preview */
._01014d2e38bd7c76-paymentPane * { --primary-630: transparent; }
._01014d2e38bd7c76-paymentPane, .a706ba33cbeb179a-codeRedemptionRedirect,
._3e443c6b2569044a-preview {
	--primary-630: var(--background-tertiary);
}

/* Active game display */
.cc46f0f859f26200-activeGame {
	--background-secondary: var(--background-tertiary);
}

/* BETA and NEW connection option marker */
._2b1f52e43a8f1c02-textBadge, .c7f964e7e0fc8b47-connectionMetadataUpsellTag {
	--brand-500: var(--highlight);
	--status-danger: var(--highlight);
	color: black;
}

/* Logout button */
.aa8da23faa27393c-side .aa8da23faa27393c-item[tabindex='-1']:has(+ * + * + * ._2debea61131de3de-info) {
	color: var(--close-button);
	--background-modifier-hover: rgba(var(--rgb-close-button), 20%);
}

/* BetterDiscord addon cards */
.bd-addon-list .bd-addon-card {
	background: rgba(var(--rgb-background), 50%);
}
.bd-addon-list .bd-addon-card > * {
	background: transparent;
}

/* Left sidebar bottom */
._2debea61131de3de-info:last-child::after {
	content: "Dark Neon by xy0505 (2.3.0)";
	font-size: 12px;
	line-height: 16px;
	color: var(--text);
	text-transform: none;
}