/**
 * @name Dark Neon Plus - Orange
 * @author xy0505
 * @version 2.1.0
 * @source https://github.com/zb0505/darkneon_theme_rewritten
 * @website https://github.com/zb0505/darkneon_theme_rewritten
 * @description A dark theme with bright neon-y colors
 * @authorId 695564552246525962
 * @invite hGvApqaUxK
*/

@import url('https://zb0505.github.io/darkneon_theme_rewritten/DarkNeonPlus.theme.css');
/* ^ This is the main import ^ DO NOT TOUCH. Without this, the theme won't load! */

/*@import url('https://zb0505.github.io/darkneon_theme_rewritten/MemberListCollapsePlus.theme.css');
/* This import adds the collapsible user-list. Uncomment it to activate that feature */

/* CUSTOMIZE COLORS IN HERE! */
:root {
	/* Experiment with colors here, this value isn't used anywhere */
	--color-exp: rgb(255, 150, 4);
	/* The main highlight color */
	--rgb-highlight: 255, 150, 4;
	/* The main background color */
	--rgb-background: 0, 0, 0;
	/* The main text color */
	--rgb-text: 197, 200, 198;
	/* The main "close this" or "deny" color */
	--rgb-close-button: 212, 18, 39;
	/* The color used in the "online" user status symbol */
	--rgb-online-color: 57, 255, 20;
	/* The color used in the "idle" user status symbol */
	--rgb-afk-color: 255, 255, 51;
	/* The color used in the "do not disturb" user status symbol */
	--rgb-dnd-color: 255, 0, 0;
	/* The color used in the "streaming X" user status symbol */
	--rgb-streaming-color: 188, 19, 254;

	/* How fast animations added by the theme happen. Default is 0.3 seconds */
	--transition-time: .3s;

	/* To add an image, copy your image URL in here */
	--background-image: url("https://wallpaperaccess.com/full/1578343.jpg");
	/* Positions the background image */
	--background-position: center;
	/* Scales the background image */
	--background-size: cover;
	/* Blurs the image which helps with readability of text infront of it */
	--background-blur: 0px;
	/* Changes the background images brightness */
	--background-brightness: 30%;
}