/**
 * @name Dark Neon Black
 * @author xy0505#8248
 * @version 1.0.0
 * @source https://gitlab.com/CommandCrafterHD/bates-discord-theme
 * @website https://commandcrafterhd.gitlab.io/bates-discord-theme/
 * @donate https://www.paypal.com/paypalme/floriancegledi
 * @description A dark theme with bright neon-y colors and a fancy customizable background!
 * @authorId 695564552246525962
*/

@import url('https://zb0505.github.io/darkneon_theme_rewritten/DarkNeon.theme.css');
/* ^ This is the main Import ^ DO NOT TOUCH. Without this, the theme won't load!!! */

/*@import url('https://commandcrafterhd.github.io/DiscordDarkNeon/css/hideUsers.css');
/* ^ This import ^ Collapses the userlist in Servers and Groups, comment it out if you don't want that! */
/* Also a big thank you to rmkx for letting me use some of their code for this, check out their "Boreal" theme! */

/* CUSTOMIZE COLORS IN HERE! */
:root {
	/* Experiment with colors here, this value isn't used anywhere */
	--color-exp: rgb(210, 210, 210);
	/* The main highlight color */
	--rgb-highlight: 210, 210, 210;
	/* The main background color */
	--rgb-background: 0, 0, 0;
	/* The main text color */
	--rgb-text: 197, 200, 198;
	/* The main "close this" or "deny" color */
	--rgb-close-button: 212, 18, 39;
	/* The color used in the "online" user status symbol */
	--rgb-online-color: 57, 255, 20;
	/* The color used in the "idle" user status symbol */
	--rgb-afk-color: 255, 255, 51;
	/* The color used in the "do not disturb" user status symbol */
	--rgb-dnd-color: 255, 0, 0;
	/* The color used in the "streaming X" user status symbol */
	--rgb-streaming-color: 188, 19, 254;

	/* How fast animations added by the theme happen. Default is 0.3 seconds */
	--transition-time: .3s;

	/* To add an image, replace unset with url(https://www.YOUR-URL-HERE.com) */
	--background-image: url("https://i.pinimg.com/originals/39/0e/1e/390e1e3ed860bcc23fea7fb84cfd393b.jpg");
	/* Positions the background image */
	--background-position: center;
	/* Scales the background image */
	--background-size: cover;
	/* Blurs the image which helps with readability of text infront of it */
	--background-blur: 0px;
	/* Changes the background images brightness */
	--background-brightness: 30%;
}