/**
 * @name Collapsible Members List
 * @author xy0505
 * @version 2.0.3
 * @source https://github.com/zb0505/darkneon_theme_rewritten
 * @website https://github.com/zb0505/darkneon_theme_rewritten
 * @description A plugin to have a collapsible member list in servers. Should be used as @import to have it update automatically
 * @authorId 695564552246525962
 * @invite hGvApqaUxK
*/

/* @import url('https://zb0505.github.io/darkneon_theme_rewritten/MemberListCollapse.theme.css');
/* If you downloaded this file you may want to uncomment this to have auto update enabled */


/* CUSTOMIZE TRANSITION TIME ONLY */
:root {
	--transition-time: .3s; /* Animation time */
	--hidden-user-width: 60px; /* Collapsed width */
	--user-width: 240px; /* Opened width */
}
/* END OF CUSTOMIZATION */



/*
=======================================================================
||   Main CSS file content (the commented import at the beginning)   ||
=======================================================================
*/
/* Member list container collapsed */
.container_f79ab4, /* DM & server */
.membersWrap__5ca6b { /* Server */
	transition-duration: var(--transition-time);
	justify-content: unset;
	min-width: unset;
	width: var(--hidden-user-width)
}
/* Role/group names collapsed */
.membersGroup_cad095 {
	height: 0px;
	transition-duration: var(--transition-time);
	padding-top: 0px
}

/* Role/group names opened */
.container_f79ab4:hover .membersGroup_cad095, /* DM & server */
.membersWrap__5ca6b:hover .membersGroup_cad095 { /* Server */
	height: 40px;
	padding-top: 24px
}
/* Member list container opened */
.container_f79ab4:hover, /* DM & server */
.membersWrap__5ca6b:hover { /* Server */
	width: var(--user-width)
}