/**
 * @name Collapsible Members List Plus
 * @author xy0505
 * @version 2.2.1
 * @source https://github.com/zb0505/darkneon_theme_rewritten
 * @website https://github.com/zb0505/darkneon_theme_rewritten
 * @description A plugin to have a collapsible member list in servers. Should be used as @import to have it update automatically
 * @authorId 695564552246525962
 * @invite hGvApqaUxK
*/

/* @import url('https://zb0505.github.io/darkneon_theme_rewritten/MemberListCollapsePlus.theme.css');
/* If you downloaded this file you may want to uncomment this to have auto update enabled */


/* CUSTOMIZE TRANSITION TIME AND PROPERTIES HERE */
:root {
	--transition-time: .3s; /* Animation time */
	--hidden-user-width: 50px; /* Collapsed width (should not be edited) */
	--user-width: 265px; /* Opened width (should not be edited) */
}
/* END OF CUSTOMIZATION */



/*
=======================================================================
||   Main CSS file content (the commented import at the beginning)   ||
=======================================================================
*/
/* Member list container collapsed */
.container_c8ffbb, /* DM & Server */
.visual-refresh .container_c8ffbb {
	transition-duration: var(--transition-time);
}
.container_c8ffbb:not(:hover),
.visual-refresh .container_c8ffbb:not(:hover) {
	width: var(--hidden-user-width);
	justify-content: unset;
	min-width: unset;
}

/* Role/group names and activity cards collapsed */
.membersGroup_c8ffbb, .visual-refresh .membersGroup_c8ffbb,
.container__0f2e8, .visual-refresh .container__0f2e8 {
	transition-duration: var(--transition-time);
}

/* Activity cards and their group title */
.content_d125d2:not(:hover) > .membersGroup_c8ffbb:has(+ div:not([class])),
.content_d125d2:not(:hover) > div:not([class]) {
	height: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

/* Role group titles */
.container_c8ffbb:not(:hover) .membersGroup_c8ffbb,
.visual-refresh .container_c8ffbb:not(:hover) .membersGroup_c8ffbb,
.container_c8ffbb:not(:hover) .container__0f2e8,
.visual-refresh .container_c8ffbb:not(:hover) .container__0f2e8 {
	height: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

/* Remove padding from user icons when collapsed */
.container_c8ffbb:not(:hover) .member__5d473 {
	margin: 0px;
}


/* Role/group names opened */
.container_c8ffbb:hover .membersGroup_c8ffbb { /* DM & Server */
	height: 40px;
	padding-top: 24px;
}
/* Member list container opened */
.container_c8ffbb:hover {/* DM & Server */
	width: var(--user-width);
}