/**
 * @name Collapsible Members List Plus
 * @author xy0505
 * @version 2.3.0
 * @source https://github.com/zb0505/darkneon_theme_rewritten
 * @website https://github.com/zb0505/darkneon_theme_rewritten
 * @description A plugin to have a collapsible member list in servers. Should be used as @import to have it update automatically
 * @authorId 695564552246525962
 * @invite hGvApqaUxK
*/

/* @import url('https://zb0505.github.io/darkneon_theme_rewritten/MemberListCollapsePlus.theme.css');
/* If you downloaded this file you may want to uncomment this to have auto update enabled */


/* CUSTOMIZE TRANSITION TIME AND PROPERTIES HERE */
:root {
	--transition-time: .3s; /* Animation time */
	--hidden-user-width: 50px; /* Collapsed width (should not be edited) */
	--user-width: 265px; /* Opened width (should not be edited) */
}
/* END OF CUSTOMIZATION */



/*
=======================================================================
||   Main CSS file content (the commented import at the beginning)   ||
=======================================================================
*/
/* Member list container collapsed */
.c8ffbb79449f399c-container, /* DM & Server */
.visual-refresh .c8ffbb79449f399c-container {
	transition-duration: var(--transition-time);
}
.c8ffbb79449f399c-container:not(:hover),
.visual-refresh .c8ffbb79449f399c-container:not(:hover) {
	width: var(--hidden-user-width);
	justify-content: unset;
	min-width: unset;
}

/* Role/group names and activity cards collapsed */
.c8ffbb79449f399c-membersGroup, .visual-refresh .c8ffbb79449f399c-membersGroup,
._0f2e83213c878a13-container, .visual-refresh ._0f2e83213c878a13-container {
	transition-duration: var(--transition-time);
}

/* Activity cards and their group title */
.d125d22cdfd32cfe-content:not(:hover) > .c8ffbb79449f399c-membersGroup:has(+ div:not([class])),
.d125d22cdfd32cfe-content:not(:hover) > div:not([class]) {
	height: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

/* Role group titles */
.c8ffbb79449f399c-container:not(:hover) .c8ffbb79449f399c-membersGroup,
.visual-refresh .c8ffbb79449f399c-container:not(:hover) .c8ffbb79449f399c-membersGroup,
.c8ffbb79449f399c-container:not(:hover) ._0f2e83213c878a13-container,
.visual-refresh .c8ffbb79449f399c-container:not(:hover) ._0f2e83213c878a13-container {
	height: 0px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

/* Remove padding from user icons when collapsed */
.c8ffbb79449f399c-container:not(:hover) ._5d473ecff348c314-member {
	margin: 0px;
}


/* Role/group names opened */
.c8ffbb79449f399c-container:hover .c8ffbb79449f399c-membersGroup { /* DM & Server */
	height: 40px;
	padding-top: 24px;
}
/* Member list container opened */
.c8ffbb79449f399c-container:hover {/* DM & Server */
	width: var(--user-width);
}